@import "../../styles/colors";

.styledButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  background-color: $blue-2;
  border: 0;
  color: $white-smooth;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
}
