@import "../../styles/colors";
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburgerContainer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  top: 1rem;
  right: 1rem;
  height: 1rem;
  width: 100%;
  z-index: 100;
  top: 4rem;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger.isActive:hover {
  opacity: 0.7;
}
.hamburger.isActive .hamburgerInner,
.hamburger.isActive .hamburgerInner::before,
.hamburger.isActive .hamburgerInner::after {
  background-color: $gold-main;
}

.burgerBox {
  display: flex;
  align-items: center;

  @media (min-width: 768px) {
    display: none;
  }

  &Logo {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin-bottom: 0.5rem;
    margin-right: 6rem;
  }
}

.hamburgerBox {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
  transform: scale(0.7);
}

.hamburgerInner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburgerInner,
.hamburgerInner::before,
.hamburgerInner::after {
  width: 40px;
  height: 4px;
  background-color: $dark-smooth;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

.hamburgerInner::before,
.hamburgerInner::after {
  content: "";
  display: block;
}

.hamburgerInner::before {
  top: -10px;
}

.hamburgerInner::after {
  bottom: -10px;
}

.hamburger__stand .hamburgerInner {
  transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;
}
.hamburger__stand .hamburgerInner::before {
  transition: top 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.hamburger__stand .hamburgerInner::after {
  transition: bottom 0.075s 0.075s ease-in,
    transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger__stand.isActive .hamburgerInner {
  transform: rotate(90deg);
  background-color: transparent !important;
  transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    background-color 0s 0.15s linear;
}
.hamburger__stand.isActive .hamburgerInner::before {
  top: 0;
  transform: rotate(-45deg);
  transition: top 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.hamburger__stand.isActive .hamburgerInner::after {
  bottom: 0;
  transform: rotate(45deg);
  transition: bottom 0.075s 0.1s ease-out,
    transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (min-width: 992px) {
  .hamburger {
    display: none;
  }
}
