@import "../../styles/colors";

.logo {
  margin-top: -5.9rem;

  padding-left: 1.6rem;
  padding-top: 1.9rem;
  background-color: $elegant-dark-blue;
  height: 5.5rem;
  color: $white-smooth;

  @media screen and (min-width: 992px) {
    display: none;
  }
}
