@import "../../styles/colors";

.logo {
  display: flex;
  margin-top: -5.7rem;
  justify-content: flex-start;
  padding: 1rem;
  padding-left: 1rem;
  background-color: $elegant-dark-blue;
  height: 5.5rem;
  color: $white-smooth;

  @media screen and (min-width: 992px) {
    display: none;
  }
}
