@import "./colors";

.pro {
  margin-bottom: 2.6rem;
}

.products {
  background-color: $blue;
  color: $white-smooth;
  padding: 0.7rem;
  text-decoration: none;
  border-radius: 0.4rem;
}

.svg {
  width: 2rem;
  height: 2rem;
}
